{% comment %}
    Renders the content of section-columns, section-multicolumn, section-text-row

    Accepts:
    - type: {String} product (optional)

    Usage:
    {% render 'multicolumn', type: 'images' %}
{% endcomment %}

{%- liquid
  assign unique = 'SectionColumns--' | append: section.id
  assign type = type | default: ''
  assign animation_order = 0
  assign animation_anchor = unique | prepend: '#'
  assign heading = section.settings.title
  assign description = section.settings.description
  assign color_scheme = 'color-' | append: section.settings.color_scheme
  assign blocks_size = section.blocks.size

  assign layout = section.settings.layout
  assign layout_mobile = section.settings.layout_mobile
  assign grid_columns = section.settings.grid

  assign multicolumn = true
  if layout
    assign multicolumn = false
  endif

  assign enable_slider = false
  if layout == 'slider'
    assign enable_slider = true
  endif

  if multicolumn
    assign column_count = blocks_size | at_least: 2
    assign column_count_float = column_count | times: 1.000000
    assign column_width = 100 | divided_by: column_count_float
    assign one_third_blocks_only = false
    assign one_third_block_count = 0

    for block in section.blocks
      if block.settings.column_width == 33
        assign one_third_block_count = one_third_block_count | plus: 1
      endif
    endfor

    if one_third_block_count == blocks_size
      assign one_third_blocks_only = true
    endif
  else
    assign columns_desktop = grid_columns | plus: 0
    assign columns_medium = 3
    assign columns_small = 2

    if columns_desktop == 2 or columns_desktop == 4
      assign columns_medium = 2
    endif

    assign column_width = 100 | divided_by: columns_desktop
  endif

  assign columns_mobile = layout_mobile | plus: 0

  if heading != blank or description != blank
    assign has_content = true
  endif

  assign eager_images_limit = grid_columns | default: 3

  if type == 'images'
    if grid_columns == 4
      assign eager_images_limit = grid_columns | times: 2
    endif
  endif

  capture layout_class
    echo 'grid'

    if section.settings.stretch
      echo ' custom_stretch '
    endif

    if multicolumn
      echo ' multicolumn'
    endif

    if layout == 'slider'
      echo ' grid--slider'
    endif

    if layout_mobile == 'slider'
      echo ' grid--mobile-slider'
    else
      echo ' grid--mobile-vertical'
    endif
  endcapture
-%}

{%- style -%}
  #SectionColumns--{{ section.id }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;

    {%- unless multicolumn or enable_slider -%}
      --COLUMNS: {{ columns_desktop }};
      --COLUMNS-MEDIUM: {{ columns_medium }};
      --COLUMNS-SMALL: {{ columns_small }};
    {%- endunless -%}

    --COLUMNS-MOBILE: {{ columns_mobile }};
  }
{%- endstyle -%}

<div id="{{ unique }}"
  class="section-columns section-padding {{ color_scheme }}"
  data-section-id="{{ section.id }}"
  data-section-type="columns">
  <div class="{{ section.settings.width }}">
    {% if section.settings.reviews %}
        {%- liquid
          assign animation_order = animation_order | plus: 1
        -%}
    <div class="reviews_summary"
          data-aos="hero"
          data-aos-anchor="{{ animation_anchor }}"
          data-aos-order="{{ animation_order }}"
    >
      <div>
        <div>
          <svg width="98" height="19" viewBox="0 0 98 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.47203 1.27214C8.7288 0.751864 9.47069 0.751862 9.72746 1.27213L11.6113 5.0892C11.7133 5.2958 11.9104 5.439 12.1383 5.47213L16.3507 6.08423C16.9249 6.16766 17.1541 6.87324 16.7387 7.27821L13.6906 10.2494C13.5256 10.4102 13.4503 10.6419 13.4893 10.869L14.2088 15.0643C14.3069 15.6362 13.7067 16.0722 13.1932 15.8023L9.42548 13.8215C9.22155 13.7143 8.97793 13.7143 8.774 13.8215L5.00634 15.8023C4.4928 16.0722 3.89259 15.6362 3.99067 15.0643L4.71023 10.869C4.74918 10.6419 4.67389 10.4102 4.50891 10.2494L1.46081 7.27821C1.04534 6.87324 1.2746 6.16766 1.84875 6.08423L6.06114 5.47213C6.28913 5.439 6.48623 5.2958 6.58819 5.0892L8.47203 1.27214Z" fill="#8F6CF3"/>
            <path d="M28.327 1.27214C28.5838 0.751864 29.3257 0.751862 29.5824 1.27213L31.4663 5.0892C31.5682 5.2958 31.7653 5.439 31.9933 5.47213L36.2057 6.08423C36.7799 6.16766 37.0091 6.87324 36.5937 7.27821L33.5456 10.2494C33.3806 10.4102 33.3053 10.6419 33.3442 10.869L34.0638 15.0643C34.1619 15.6362 33.5617 16.0722 33.0481 15.8023L29.2805 13.8215C29.0765 13.7143 28.8329 13.7143 28.629 13.8215L24.8613 15.8023C24.3478 16.0722 23.7476 15.6362 23.8457 15.0643L24.5652 10.869C24.6042 10.6419 24.5289 10.4102 24.3639 10.2494L21.3158 7.27821C20.9003 6.87324 21.1296 6.16766 21.7037 6.08423L25.9161 5.47213C26.1441 5.439 26.3412 5.2958 26.4432 5.0892L28.327 1.27214Z" fill="#8F6CF3"/>
            <path d="M48.1813 1.27214C48.438 0.751864 49.1799 0.751862 49.4367 1.27213L51.3205 5.0892C51.4225 5.2958 51.6196 5.439 51.8476 5.47213L56.06 6.08423C56.6341 6.16766 56.8634 6.87324 56.4479 7.27821L53.3998 10.2494C53.2348 10.4102 53.1595 10.6419 53.1985 10.869L53.918 15.0643C54.0161 15.6362 53.4159 16.0722 52.9024 15.8023L49.1347 13.8215C48.9308 13.7143 48.6872 13.7143 48.4832 13.8215L44.7156 15.8023C44.202 16.0722 43.6018 15.6362 43.6999 15.0643L44.4195 10.869C44.4584 10.6419 44.3831 10.4102 44.2181 10.2494L41.17 7.27821C40.7546 6.87324 40.9838 6.16766 41.558 6.08423L45.7704 5.47213C45.9984 5.439 46.1955 5.2958 46.2974 5.0892L48.1813 1.27214Z" fill="#8F6CF3"/>
            <path d="M68.0348 1.27214C68.2915 0.751864 69.0334 0.751862 69.2902 1.27213L71.174 5.0892C71.276 5.2958 71.4731 5.439 71.7011 5.47213L75.9135 6.08423C76.4876 6.16766 76.7169 6.87324 76.3014 7.27821L73.2533 10.2494C73.0883 10.4102 73.0131 10.6419 73.052 10.869L73.7716 15.0643C73.8696 15.6362 73.2694 16.0722 72.7559 15.8023L68.9882 13.8215C68.7843 13.7143 68.5407 13.7143 68.3367 13.8215L64.5691 15.8023C64.0555 16.0722 63.4553 15.6362 63.5534 15.0643L64.273 10.869C64.3119 10.6419 64.2366 10.4102 64.0717 10.2494L61.0235 7.27821C60.6081 6.87324 60.8373 6.16766 61.4115 6.08423L65.6239 5.47213C65.8519 5.439 66.049 5.2958 66.1509 5.0892L68.0348 1.27214Z" fill="#8F6CF3"/>
            <path d="M87.8906 1.27448C88.1474 0.754209 88.8887 0.754209 89.1455 1.27448L91.0293 5.09089C91.1312 5.29741 91.3287 5.4405 91.5566 5.4737L95.7695 6.086C96.3435 6.16963 96.5726 6.87543 96.1572 7.28034L93.1094 10.251C92.9444 10.4119 92.8692 10.6441 92.9082 10.8712L93.6269 15.0665C93.7249 15.6382 93.1248 16.0737 92.6113 15.8038L88.8437 13.8233C88.6398 13.7162 88.3962 13.7161 88.1924 13.8233L84.4248 15.8038C83.9113 16.0737 83.3113 15.6382 83.4092 15.0665L84.1289 10.8712C84.1678 10.6441 84.0927 10.4119 83.9277 10.251L80.8789 7.28034C80.4635 6.87535 80.6934 6.16943 81.2676 6.086L85.4795 5.4737C85.7075 5.44057 85.9049 5.29749 86.0068 5.09089L87.8906 1.27448Z" fill="#8F6CF3"/>
            <path d="M87.8898 1.27214C88.1465 0.751864 88.8884 0.751862 89.1452 1.27213L91.029 5.0892C91.131 5.2958 91.3281 5.439 91.5561 5.47213L95.7685 6.08423C96.3426 6.16766 96.5719 6.87324 96.1564 7.27821L93.1083 10.2494C92.9433 10.4102 92.868 10.6419 92.907 10.869L93.6265 15.0643C93.7246 15.6362 93.1244 16.0722 92.6109 15.8023L88.8432 13.8215C88.6393 13.7143 88.3957 13.7143 88.1917 13.8215L84.4241 15.8023C83.9105 16.0722 83.3103 15.6362 83.4084 15.0643L84.128 10.869C84.1669 10.6419 84.0916 10.4102 83.9266 10.2494L80.8785 7.27821C80.4631 6.87324 80.6923 6.16766 81.2665 6.08423L85.4789 5.47213C85.7069 5.439 85.904 5.2958 86.0059 5.0892L87.8898 1.27214Z" fill="#8F6CF3"/>
          </svg>     
        </div>

        <span>Over 8,000+ 5 star reviews</span>
      </div>
    </div>
    {% endif %}
    {%- if has_content -%}
      <div class="grid__heading-holder {{ section.settings.align_heading }}">
        {%- if heading != blank -%}
          {%- liquid
            assign animation_order = animation_order | plus: 1
            assign heading_tag = 'h2'

            unless section.settings.heading_tag == 'automatic' or section.settings.heading_tag == blank
              assign heading_tag = section.settings.heading_tag
            endunless
          -%}

          <{{ heading_tag }} class="grid__heading {{ section.settings.heading_font_size }}"
            data-aos="hero"
            data-aos-anchor="{{ animation_anchor }}"
            data-aos-order="{{ animation_order }}"
          >
            {{- heading -}}
          </{{ heading_tag }}>
        {%- endif -%}

        {%- if description -%}
          {%- assign animation_order = animation_order | plus: 1 -%}

          <div class="grid__description"
            data-aos="hero"
            data-aos-anchor="{{ animation_anchor }}"
            data-aos-order="{{ animation_order }}"
          >
            {{ description }}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}

    {%- if blocks_size > 0 -%}
      {%- capture columns_content -%}
        <div class="{{ layout_class }} {{ section.settings.align_columns }} {{ section.settings.align_text }}"
          {% if enable_slider %}
            data-grid-slider
          {% endif %}

          {% if request.design_mode %}
            data-block-scroll
          {% endif %}
        >
          {%- for block in section.blocks -%}
            {%- liquid
              assign animation_order = animation_order | plus: 1
              assign column_width = block.settings.column_width | default: column_width
              assign title = block.settings.title
              assign text = block.settings.text
              assign image = block.settings.image
              assign image_aspect_ratio = block.settings.image_aspect_ratio | default: section.settings.image_aspect_ratio | default: 1
              assign image_aspect_ratio_mobile = block.settings.mobile_image_aspect_ratio | default: section.settings.mobile_image_aspect_ratio | default: aspect_ratio
              assign aspect_ratio = 1 | divided_by: image_aspect_ratio
              assign aspect_ratio_mobile = 1 | divided_by: image_aspect_ratio_mobile
              assign button_text = block.settings.button_text
              assign icon_color = block.settings.icon_color
              assign icon_size = block.settings.icon_size

              if forloop.index > eager_images_limit and layout != 'slider' or forloop.index > 4 and layout == 'slider'
                assign loading = 'lazy'
              endif

              if one_third_blocks_only or enable_slider
                assign column_width = 33.333333
              endif

              assign column_width_multiplier = column_width | times: 0.01

              assign button_style = block.settings.button_style
              if button_style == 'btn--text' and block.settings.show_arrow
                assign button_style = button_style | append: ' btn--text-no-underline'
              endif

              capture image_shape_class
                case block.settings.image_shape
                  when 'circle'
                    echo ' column__image--circle'

                  when 'rounded'
                    echo ' column__image--rounded'

                  when 'blob-one'
                    echo ' column__image--blob-one'

                  when 'blob-two'
                    echo ' column__image--blob-two'

                  when 'blob-three'
                    echo ' column__image--blob-three'
                endcase
              endcapture

              capture image_sizes
                echo '(min-width: 990px) calc((100vw - 100px) * ' | append: column_width_multiplier | append: '), (min-width: 750px) calc((100vw - 60px) / 2), calc(100vw - 32px - 50px)'
              endcapture

              capture block_style
                echo 'style="'

                if multicolumn
                  echo '--desktop-width: ' | append: column_width | append: '%;'
                endif

                if icon_color.alpha != 0.0 and icon_color != blank
                  echo ' --icons: ' | append: icon_color | append: ';'
                endif

                echo '"'
              endcapture
            -%}

            {%- case block.type -%}
              {%- when 'image' -%}
                <div class="grid-item"
                  {{ block_style }}
                  {% if enable_slider %}
                    data-grid-item
                  {% endif %}
                  {{ block.shopify_attributes }}
                >
                  <div class="column__inner"
                    data-aos="hero"
                    data-aos-anchor="{{ animation_anchor }}"
                    data-aos-order="{{ animation_order }}">
                    <div class="column__image{{ image_shape_class }}" data-column-image>
                      {%- liquid
                        capture column_image
                          assign class_desktop = ''
                          assign class_mobile = ''

                          if aspect_ratio != aspect_ratio_mobile
                            assign class_desktop = 'desktop'
                            assign class_mobile = 'mobile'
                          endif

                          if image
                            render 'image' image: image, sizes: image_sizes, aspect_ratio: aspect_ratio, loading: loading, modifier: class_desktop

                            if aspect_ratio != aspect_ratio_mobile
                              render 'image' image: image, sizes: image_sizes, aspect_ratio: aspect_ratio_mobile, loading: loading, modifier: class_mobile
                            endif
                          else
                            render 'image' placeholder: 'image', aspect_ratio: aspect_ratio, modifier: class_desktop

                            if aspect_ratio != aspect_ratio_mobile
                              render 'image' placeholder: 'image', aspect_ratio: aspect_ratio_mobile, modifier: class_mobile
                            endif
                          endif
                        endcapture
                      -%}

                      {%- if block.settings.button_url != blank and button_text == blank -%}
                        <a href="{{ block.settings.button_url }}" aria-label="{{ image.alt | default: title | default: text | strip_html | escape }}">
                          {{ column_image }}
                        </a>
                      {%- else -%}
                        {{ column_image }}
                      {%- endif -%}
                    </div>

                    <div class="column__content">
                      {%- if title != blank -%}
                        {%- liquid
                          assign heading_tag = 'h2'

                          unless block.settings.heading_tag == 'automatic' or block.settings.heading_tag == blank
                            assign heading_tag = block.settings.heading_tag
                          endunless
                        -%}

                        <{{ heading_tag }} class="column__heading {{ block.settings.heading_font_size }}">
                          {{- title -}}
                        </{{ heading_tag }}>
                      {%- endif -%}

                      {%- if text != blank -%}
                        <div class="column__text rte {{ block.settings.text_font_size }}">
                          {{- text -}}
                        </div>
                      {%- endif -%}

                      {%- if button_text != blank -%}
                        <div class="column__btn">
                          <a href="{{ block.settings.button_url | default: '#!' }}" class="btn {{ button_style }} {{ block.settings.button_size }} {{ block.settings.button_type }}" aria-label="{{ button_text }}">
                            <span>{{ button_text }}</span>

                            {%- if block.settings.show_arrow -%}
                              {%- render 'icon-arrow-right' -%}
                            {%- endif -%}
                          </a>
                        </div>
                      {%- endif -%}
                    </div>
                  </div>
                </div>

              {%- when 'review' -%}
                <div class="grid-item"
                  {{ block_style }}
                  {% if enable_slider %}
                    data-grid-item
                  {% endif %}
                  {{ block.shopify_attributes }}
                >
                  <div class="column__inner"
                    data-aos="hero"
                    data-aos-anchor="{{ animation_anchor }}"
                    data-aos-order="{{ animation_order }}">
                    <div class="demo-review-block">
                      <div>
                        <svg width="98" height="19" viewBox="0 0 98 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M8.47203 1.27214C8.7288 0.751864 9.47069 0.751862 9.72746 1.27213L11.6113 5.0892C11.7133 5.2958 11.9104 5.439 12.1383 5.47213L16.3507 6.08423C16.9249 6.16766 17.1541 6.87324 16.7387 7.27821L13.6906 10.2494C13.5256 10.4102 13.4503 10.6419 13.4893 10.869L14.2088 15.0643C14.3069 15.6362 13.7067 16.0722 13.1932 15.8023L9.42548 13.8215C9.22155 13.7143 8.97793 13.7143 8.774 13.8215L5.00634 15.8023C4.4928 16.0722 3.89259 15.6362 3.99067 15.0643L4.71023 10.869C4.74918 10.6419 4.67389 10.4102 4.50891 10.2494L1.46081 7.27821C1.04534 6.87324 1.2746 6.16766 1.84875 6.08423L6.06114 5.47213C6.28913 5.439 6.48623 5.2958 6.58819 5.0892L8.47203 1.27214Z" fill="#8F6CF3"/>
                          <path d="M28.327 1.27214C28.5838 0.751864 29.3257 0.751862 29.5824 1.27213L31.4663 5.0892C31.5682 5.2958 31.7653 5.439 31.9933 5.47213L36.2057 6.08423C36.7799 6.16766 37.0091 6.87324 36.5937 7.27821L33.5456 10.2494C33.3806 10.4102 33.3053 10.6419 33.3442 10.869L34.0638 15.0643C34.1619 15.6362 33.5617 16.0722 33.0481 15.8023L29.2805 13.8215C29.0765 13.7143 28.8329 13.7143 28.629 13.8215L24.8613 15.8023C24.3478 16.0722 23.7476 15.6362 23.8457 15.0643L24.5652 10.869C24.6042 10.6419 24.5289 10.4102 24.3639 10.2494L21.3158 7.27821C20.9003 6.87324 21.1296 6.16766 21.7037 6.08423L25.9161 5.47213C26.1441 5.439 26.3412 5.2958 26.4432 5.0892L28.327 1.27214Z" fill="#8F6CF3"/>
                          <path d="M48.1813 1.27214C48.438 0.751864 49.1799 0.751862 49.4367 1.27213L51.3205 5.0892C51.4225 5.2958 51.6196 5.439 51.8476 5.47213L56.06 6.08423C56.6341 6.16766 56.8634 6.87324 56.4479 7.27821L53.3998 10.2494C53.2348 10.4102 53.1595 10.6419 53.1985 10.869L53.918 15.0643C54.0161 15.6362 53.4159 16.0722 52.9024 15.8023L49.1347 13.8215C48.9308 13.7143 48.6872 13.7143 48.4832 13.8215L44.7156 15.8023C44.202 16.0722 43.6018 15.6362 43.6999 15.0643L44.4195 10.869C44.4584 10.6419 44.3831 10.4102 44.2181 10.2494L41.17 7.27821C40.7546 6.87324 40.9838 6.16766 41.558 6.08423L45.7704 5.47213C45.9984 5.439 46.1955 5.2958 46.2974 5.0892L48.1813 1.27214Z" fill="#8F6CF3"/>
                          <path d="M68.0348 1.27214C68.2915 0.751864 69.0334 0.751862 69.2902 1.27213L71.174 5.0892C71.276 5.2958 71.4731 5.439 71.7011 5.47213L75.9135 6.08423C76.4876 6.16766 76.7169 6.87324 76.3014 7.27821L73.2533 10.2494C73.0883 10.4102 73.0131 10.6419 73.052 10.869L73.7716 15.0643C73.8696 15.6362 73.2694 16.0722 72.7559 15.8023L68.9882 13.8215C68.7843 13.7143 68.5407 13.7143 68.3367 13.8215L64.5691 15.8023C64.0555 16.0722 63.4553 15.6362 63.5534 15.0643L64.273 10.869C64.3119 10.6419 64.2366 10.4102 64.0717 10.2494L61.0235 7.27821C60.6081 6.87324 60.8373 6.16766 61.4115 6.08423L65.6239 5.47213C65.8519 5.439 66.049 5.2958 66.1509 5.0892L68.0348 1.27214Z" fill="#8F6CF3"/>
                          <path d="M87.8906 1.27448C88.1474 0.754209 88.8887 0.754209 89.1455 1.27448L91.0293 5.09089C91.1312 5.29741 91.3287 5.4405 91.5566 5.4737L95.7695 6.086C96.3435 6.16963 96.5726 6.87543 96.1572 7.28034L93.1094 10.251C92.9444 10.4119 92.8692 10.6441 92.9082 10.8712L93.6269 15.0665C93.7249 15.6382 93.1248 16.0737 92.6113 15.8038L88.8437 13.8233C88.6398 13.7162 88.3962 13.7161 88.1924 13.8233L84.4248 15.8038C83.9113 16.0737 83.3113 15.6382 83.4092 15.0665L84.1289 10.8712C84.1678 10.6441 84.0927 10.4119 83.9277 10.251L80.8789 7.28034C80.4635 6.87535 80.6934 6.16943 81.2676 6.086L85.4795 5.4737C85.7075 5.44057 85.9049 5.29749 86.0068 5.09089L87.8906 1.27448Z" fill="#8F6CF3"/>
                          <path d="M87.8898 1.27214C88.1465 0.751864 88.8884 0.751862 89.1452 1.27213L91.029 5.0892C91.131 5.2958 91.3281 5.439 91.5561 5.47213L95.7685 6.08423C96.3426 6.16766 96.5719 6.87324 96.1564 7.27821L93.1083 10.2494C92.9433 10.4102 92.868 10.6419 92.907 10.869L93.6265 15.0643C93.7246 15.6362 93.1244 16.0722 92.6109 15.8023L88.8432 13.8215C88.6393 13.7143 88.3957 13.7143 88.1917 13.8215L84.4241 15.8023C83.9105 16.0722 83.3103 15.6362 83.4084 15.0643L84.128 10.869C84.1669 10.6419 84.0916 10.4102 83.9266 10.2494L80.8785 7.27821C80.4631 6.87324 80.6923 6.16766 81.2665 6.08423L85.4789 5.47213C85.7069 5.439 85.904 5.2958 86.0059 5.0892L87.8898 1.27214Z" fill="#8F6CF3"/>
                        </svg>
                      </div>
                      <div>
                        <h2>{{block.settings.title}}</h2>
                        <p>{{block.settings.text}}</p>
                      </div>
                      <div style="margin-top: auto; font-size:0.88rem;">{{block.settings.name}}</div>
                      <div style="color: #8F6CF3; font-size: 0.75rem;">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="5.99977" cy="6.00024" r="5.5" stroke="#8F6CF3"/>
                          <path d="M3.46144 6.46253L5.53836 8.07792L8.76913 3.92407" stroke="#8F6CF3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Verified purchase
                      </div>
                    </div>
                  </div>
                </div>

              {%- when 'icon' -%}
                {%- capture icon_style -%}
                  --icon-size: {{ icon_size }}px;

                  {%- if title != blank -%}
                    --icon-line-height: calc(1.2 * var(--font-{{ block.settings.heading_font_size }}));
                  {%- elsif text != blank-%}
                    --icon-line-height: calc(1.5 * var(--font-{{ block.settings.text_font_size }}));
                  {%- endif -%}
                {%- endcapture -%}

                <div class="grid-item"
                  {{ block_style }}
                  {% if enable_slider %}
                    data-grid-item
                  {% endif %}
                  {{ block.shopify_attributes }}
                >
                  <div class="column__inner"
                    data-aos="hero"
                    data-aos-anchor="{{ animation_anchor }}"
                    data-aos-order="{{ animation_order }}">
                    <div class="column__icon {{ block.settings.icon_alignment | default: section.settings.icon_alignment }}" style="{{ icon_style }}">
                      <div class="icon__animated{% if image != blank %} icon__animated--image{% endif %}">
                        {%- liquid
                          if image
                            assign icon_width = icon_size
                            assign icon_width_retina = icon_width | times: 2
                            assign icon_sizes = icon_width | append: 'px'
                            assign icon_widths = icon_width | append: ', ' | append: icon_width_retina

                            render 'image' image: image, width: icon_width_retina, sizes: icon_sizes, widths: icon_widths, loading: loading
                          else
                            render 'animated-icon', filename: block.settings.icon_name
                          endif
                        -%}
                      </div>

                      {%- if title != blank or text != blank -%}
                        <div class="column__content">
                          {%- if title != blank -%}
                            {%- liquid
                              assign heading_tag = 'h2'

                              unless block.settings.heading_tag == 'automatic' or block.settings.heading_tag == blank
                                assign heading_tag = block.settings.heading_tag
                              endunless
                            -%}

                            <{{ heading_tag }} class="column__heading {{ block.settings.heading_font_size }}">
                              {{ title }}
                            </{{ heading_tag }}>
                          {%- endif -%}

                          {%- if text != blank -%}
                            <div class="column__text rte {{ block.settings.text_font_size }}">
                              {{ text }}
                            </div>
                          {%- endif -%}
                        </div>
                      {%- endif -%}
                    </div>
                  </div>
                </div>

              {%- when 'text' -%}
                <div class="grid-item"
                  {{ block_style }}
                  {% if enable_slider %}
                    data-grid-item
                  {% endif %}
                  {{ block.shopify_attributes }}
                >
                  <div class="column__inner"
                    data-aos="hero"
                    data-aos-anchor="{{ animation_anchor }}"
                    data-aos-order="{{ animation_order }}">
                    <div class="column__content">
                      {%- if title != blank -%}
                        {%- liquid
                          assign heading_tag = 'h2'

                          unless block.settings.heading_tag == 'automatic' or block.settings.heading_tag == blank
                            assign heading_tag = block.settings.heading_tag
                          endunless
                        -%}

                        <{{ heading_tag }} class="column__heading {{ block.settings.heading_font_size }}">
                          {{ title }}
                        </{{ heading_tag }}>
                      {%- endif -%}

                      {%- if text != blank -%}
                        <div class="column__text rte {{ block.settings.text_font_size }}">
                          {{ text }}
                        </div>
                      {%- endif -%}

                      {%- if button_text != blank -%}
                        <div class="column__btn">
                          <a href="{{ block.settings.button_url | default: '#!' }}" class="btn {{ button_style }} {{ block.settings.button_size }} {{ block.settings.button_type }}" aria-label="{{ button_text }}">
                            <span>{{ button_text }}</span>

                            {%- if block.settings.show_arrow -%}
                              {%- render 'icon-arrow-right' -%}
                            {%- endif -%}
                          </a>
                        </div>
                      {%- endif -%}
                    </div>
                  </div>
                </div>

              {%- when 'menu' -%}
                {%- assign menu_linklist = block.settings.menu | default: 'main-menu' -%}

                <div class="grid-item" {{ block_style }} {{ block.shopify_attributes }}>
                  <div class="column__inner"
                    data-aos="hero"
                    data-aos-anchor="{{ animation_anchor }}"
                    data-aos-order="{{ animation_order }}">
                    <div class="column__links font-heading">
                      {%- for link in linklists[menu_linklist].links -%}
                        <div class="column__links__item {{ block.settings.heading_font_size }}">
                          <a href="{{ link.url }}">{{ link.title }}</a>
                        </div>
                      {%- endfor -%}
                    </div>
                  </div>
                </div>

              {%- when 'product' -%}
                {%- liquid
                  capture product_attributes
                    echo 'data-aos="hero" '
                    echo 'data-aos-anchor="' | append: animation_anchor | append: '" '
                    echo 'data-aos-order="' | append: animation_order | append: '" '
                    echo block_style
                    echo block.shopify_attributes
                  endcapture

                  assign product = all_products[block.settings.product]
                  if product != blank
                    render 'product-grid-item', product: product, index: forloop.index, attributes: product_attributes
                  else
                    render 'onboarding-product-grid-item', index: forloop.index, attributes: product_attributes
                  endif
                -%}

            {%- endcase -%}
          {%- endfor -%}
        </div>
      {%- endcapture -%}

      {%- if enable_slider -%}
        <grid-slider align-arrows>
          {{ columns_content }}
        </grid-slider>
      {%- else -%}
        {{ columns_content }}
      {%- endif -%}

    {%- endif -%}

    {%- if blocks_size == 0 -%}
      {%- render 'no-blocks' -%}
    {%- endif -%}
  </div>
</div>