<!doctype html>
<html class="no-js no-touch supports-no-cookies" lang="{{ request.locale.iso_code }}">

<head>
  {%- render 'head' -%}

  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }} grid-{{ settings.grid_style }}{% if customer %} customer-logged-in{% endif %}{% if settings.animations_enable %} aos-initialized{% endif %}{% if settings.product_grid_outline %} has-line-design{% endif %}" data-animations="{{ settings.animations_enable }}">
  {%- render 'loading' -%}

  <a class="in-page-link visually-hidden skip-link" data-skip-content href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div class="container" data-site-container>
    <div class="header-sections">
      {% sections 'group-header' %}
    </div>

    {% sections 'group-overlay' %}

    <!-- CONTENT -->
    <main role="main" id="MainContent" class="main-content">

      {{ content_for_layout }}

    </main>
  </div>

  {% sections 'group-pre-footer' %}

  <footer class="footer-sections">
    {% sections 'group-footer' %}
  </footer>

  {% render 'template-swatch' %}

  {% render 'zoom-pswp' %}


  {%- if template.name != 'product' and settings.show_scroll_top_button -%}
    <button type="button" class="btn btn--scroll-top btn--black btn--solid" aria-label="{{ 'general.accessibility.scroll_to_top' | t }}" data-scroll-top-button>
      {%- render 'icon-arrow-up' -%}
    </button>
  {%- endif -%}

  {%- comment -%}
    In order to use your custom javascript file at assets/custom.js
    just cut this next line and paste it outside this comment:
    <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
  {%- endcomment -%}
  <!-- Paste marketing code or third party scripts below this comment line ============== -->

  <script>
    function toggleCard(card) {
      const wrapper = card.querySelector('.faq-answer-wrapper');
      const answer = card.querySelector('.faq-answer');
      const icon = card.querySelector('.icon');
      const isOpen = wrapper.style.height && wrapper.style.height !== "0px";

      if (isOpen) {
        wrapper.style.height = '0px';
        icon.innerHTML = `
        <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17 1L9 9L1 1" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        `;
      } else {
        // Measure and set exact height for smooth transition
        wrapper.style.height = answer.scrollHeight + 'px';
        icon.innerHTML = `
        <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.980103 8.96021L9.02 1.0003L16.9799 9.0402" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        `;
      }
    }
  </script>

  <!-- And above this comment line ================================================== -->
</body>
</html>
